@{
    ViewData["Title"] = "SimService";
}

<div class="bottom-header front-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-11 col-lg-12">
                <h1>Clean<span class="span-dot">.</span>Slick<span class="span-dot">.</span>Pixel Perfect</h1>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-description">lldy is a great one-page theme, perfect for developers and designers but also for someone who just wants a new website for his business. Try it now!</div>
                <a href="#" title="Learn more" class="btn btn-secondary btn-lg disabled">Learn more</a>
                <a class="btn btn-large btn-info" href="SimService/Service" tabindex="-1" role="button" aria-disabled="true">Make own scheduler</a>
            </div>
        </div>
    </div>
</div>
