@{
    ViewData["Title"] = "SimService";
}

<div class="bottom-header front-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Добавьте свои сим карты<span class="span-dot">.</span>Внесите необходимую информацию<span class="span-dot">.</span>Хранить данные довольно просто</h1>
            </div>
       </div>
    </div>
</div>
